@import '_variables';

.indexGeneral
{
    .row
    {
        .logoImage
        {
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 110px;
            width: auto;
            //max-width: 575px; //retina compatible
            //max-height: 155px; //retina compatible
        }
    }
    padding: 20px;
    background-color: $general-background;
    .green
    {
        background-color: $active-button;
    }
    .red
    {
        background-color: $disabled-button;
    } 
    .fixedTopRight
    {
        position: fixed;
        top: 10px;
        right: 10px;
    }
    .releaseAegis
    {
        margin-top: 120px;
    }
    .moveUp
    {
        margin-top: -45px;
    }
    .moveDown
    {
        margin-top: 25px;
    }
    .scrollable
    {
       //height: 100px;
       overflow-y: scroll;
    }
    .logBlock
    {
        height: 270px;
        max-height: 270px;
    }
}
