@import '_variables';

.indexGeneral
{
    .row
    {
        .logoImage
        {
            width: 100%;
            max-width: 575px; //retina compatible
            max-height: 155px; //retina compatible
        }
    }
    padding: 20px;
    background-color: $general-background;
    .green
    {
        background-color: $active-button;
    }
    .red
    {
        background-color: $disabled-button;
    } 
    .fixedTopRight
    {
        position: fixed;
        top: 10px;
        right: 10px;
    }
    .moveDown
    {
        margin-top: 82px;
    }
    .scrollable
    {
       //height: 100px;
       overflow-y: scroll;
    }
}
