@import '_variables';

.indexGeneral
{
    .littleRight
    {
        margin-left: 13px;
    }
    .well-height
    {
        height: 139px;
    }
    .absoluteCenter
    {
        position: fixed;
        bottom: 400px;
    }
    .borderGroup
    {
        border-radius: 25px;
        border: 2px solid $border;
        padding: 20px; 
        margin-top: 20px;
        width: 100%;
        height: 450px;
    }
    .row
    {
        .logoImage
        {
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 110px;
            width: auto;
            //max-width: 575px; //retina compatible
            //max-height: 155px; //retina compatible
        }
    }
    padding: 20px;
    background-color: $general-background;
    .center
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .white
    {
        background: white;
        &:hover 
        {
            background: $active-button;
        }
    }
    .green
    {
        background: $active-button;
        &:focus
        {
            background: $active-button;
        }
    }
    .full
    {
        width: 100%;
    }
    .half
    {
        width: 50%;
    }
    .greenWell
    {
        &:hover {
            background: $active-button;
        }        
    }
    .green
    {
        background-color: $active-button;
    }
    .red
    {
        background-color: $disabled-button;
    }
    .blackText 
    {
        color: black;
    } 
    .fixedTopRight
    {
        position: fixed;
        top: 10px;
        right: 10px;
    }
    .releaseAegis
    {
        margin-top: 120px;
        .center
        {
            text-align: center;
        }
    }
    .moveUp
    {
        margin-top: -45px;
    }
    .moveDown
    {
        margin-top: 25px;
    }
    .scrollable
    {
        background: #eaeaea;
        //height: 100px;
        overflow-y: scroll;
    }
    .logBlock
    {
        height: 270px;
        max-height: 270px;
    }
}
